@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/noto-sans-ethiopic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/noto-sans-ethiopic-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/noto-sans-ethiopic-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/noto-sans-ethiopic-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/saira-condensed-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/saira-condensed-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/saira-condensed-700.ttf) format('truetype');
}
